ffmpeg
requests
python-dotenv
pydub
pandas
numpy
opencv-contrib-python
pillow
scikit-image
scikit-learn
imagehash
av
torch
torchvision
transformers>=4.40.0
sentence-transformers
hf_xet
langchain>=0.1.14
chromadb>=0.4.24
protobuf==4.25.3
google-api-core==2.17.1
googleapis-common-protos==1.62.0
langchain_google_genai>=0.0.9
groq
fireworks-ai

gradio

dash 
dash-core-components 
dash-html-components 
dash-daq  
dash_bootstrap_components
regex==2024.11.6

pypi-json==0.4.0

